
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F9F9F9;
}

::-webkit-scrollbar-thumb {
    background: #2E80FA;
    border-radius: 5px;
}


body {
    background-color: #F6F9FB;
    color: #151414;
    animation: pageFadeIn 1.5s ease-out forwards;
}

@keyframes pageFadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


li, a, button {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}


.head {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 25px 10%;
    position: sticky;
    top: 0;
    z-index: 1000; 
  background: rgba(246, 249, 251, 0.6); 
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.logo-box {
    display: flex;
    align-items: center;
    margin-left: -90px;
}

.logo {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #2E80FA;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.head span {
    color: #1D283A;

    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}



.nav-bar{
     
    list-style: none; 
}
.nav-bar li {
    display: inline-block;
    
}
.nav-bar a {
    padding: 10px 16px; 
    color:#1D283A;
     
}
 .nav-bar a:hover{
    cursor: pointer;
    background: rgba(246, 249, 251, 0.95); 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
 }
 
.nav-bar li a{
    transition: all 0.3s ease 0s ;
 
}


.nav-buttons {
    display: flex;
    gap: 15px;
    margin-right: -90px;
}

.login-btn, .signup-btn {
    font-size: 16px;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-style: semi-bold;
    cursor: pointer;
}

.login-btn {
    background: #F6F9FB;
    border: 1px solid #E1E7EF;
    color: #1D283A;
}

.signup-btn {
    background:#2E80FA;
    color: #F6F9FB;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px 20px;
    color: #0a0a0a;

}

.left-section {
    margin-bottom: 150px;
    width: 645.3300170898438;
    height: 277;
    top: 149px;
    left: 31px;
    gap: 28px;
    opacity: 1;
 

   
}

.left-section .word{
    font-size: 14px;
    margin: 20px 0;
    color: #2E80FA;
    line-height: 20px;
    font-weight: 500;
    height: 44px;
    gap: 10px;
    width: 196px;
    background-color: #ECF4FF;
    opacity: 1;
    border-radius: 20px; 
    padding: 12px 16px;
}

.left-section h1{
    font-size: 60px;
    font-weight: 800;
    font-style: bold;
    line-height: 60px;
    color: #1D283A;
}

.left-section h1 .omo {
  /* Fallback color for browsers that do not support background-clip: text */
  color: #2E80FA; 
  background-image: linear-gradient(103.85deg, #2E80FA 0%, #4CAE4F 100%);
  /* Clip the background to the shape of the text */
  background-clip: text;
  -webkit-background-clip: text; /* Vendor prefix for Safari support */
  /* Make the actual text transparent so the background image shows through */
  -webkit-text-fill-color: transparent;
}

.left-section .text{
    color: #65758B;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    height: 88.5px;
    margin-top: 10px;
    
    
}

.left-section .buttons{
    display: flex;
    gap: 24px;
    margin-top: 15px; 
         
}

.get-started-btn {
    width: 166;
    height: 44;
    gap: 10px;
    opacity: 1;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #2E80FA;
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
    transition: transform 0.3s ease
}

.get-started-btn:hover {
    background-color: #2b67d8;
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.get-login-btn{
    
    width: 97px;
    height: 44px;
    gap: 10px;
    border: 1px solid #E1E7EF;
    opacity: 1;
    padding: 12px 25px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #F6F9FB;
    color: #1D283A;
    font-weight: 600;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.get-login-btn:hover {
    background-color: #F6F9FB;
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.pic{
    width: 560px;
    margin-top: -170px;
    border-radius: 16px;
    float: right;
    margin-left: 50px; 
    box-shadow: 0px 25px 50px 0px #00000040;
}

 /*<--- About Section--->*/
 .about{
    margin-top: -150px;
    padding: 60px 16px;
    background-color: #F6F9FB;
 }

.about-text{
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.about-text h2{
    font-size: 36px;
    font-weight: 700;
    color: #1D283A;
}

.about-text #text-line{
    color: #65758B;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Inter", sans-serif;
    line-height: 28px;  
    vertical-align: middle;
    
    opacity: 1;
    margin-top: 16px;
}

.about-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    gap: 32px;
    line-height: 30px;
}

.about-cards .card{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 32px  24px ;
    width: 100%;
    border: 2px solid #E1E7EF;
    box-shadow: 0px 25px 50px 0px #00000010;
}

.about-cards .card img{
    width: 64;
    height: 64;
    gap: 16px;

    opacity: 1;

}

.about-cards .card h3{
    width: 100%;
    height: 28px;
    opacity: 1;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    color: #1D283A;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
   
}

.about-cards .card p{
    margin-top: 12px;
    font-size: 16px; 
    color: #65758B;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    line-height: 16px;
   
}
