* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  background-color: #ffffff;
  width: 448px;
  height: 553px;
  border-radius: 10px;
  /* margin-top:178px; */
  margin-left: 457px;
  padding: 31px 17px 31px 17px;
  line-height: 45px;
  box-shadow: 0 0 1px black;
}
.login {
  color: rgb(172, 172, 172);
}
.icon {
  display: flex;
  gap: 8px;
  text-align: center;
  color: rgb(122, 122, 122);
  margin-left: 450px;
  margin-bottom: 20px;
}
.icon-arrow {
  font-size: 20px;
  color: rgb(122, 122, 122);
}
.icon-text {
  font-size: 16px;
  font-weight: bold;
}
select {
  /* background-color: aliceblue; */
  width: 380px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(137, 136, 136);
  background-color: rgb(244, 246, 249);
}
.star {
  text-align: center;
}
#email {
  width: 380px;
  padding: 10px;
  border: 1px solid black;
  color: rgb(137, 136, 136);
  border-radius: 10px;
  background-color: rgb(244, 246, 249);
}

.text {
  margin-left: 200px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(25, 115, 219);
}

#password {
  width: 380px;
  padding: 10px;
  border: 1px solid black;
  color: rgb(137, 136, 136);
  border-radius: 10px;
  background-color: rgb(244, 246, 249);
}
.salt {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 410px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 1px solid #E1E7EF;
  margin-top: 30px;
  background-color: rgb(38, 83, 221);
}

.count {
  text-align: center;
}
.word {
  text-decoration: none;
  color: rgb(25, 115, 219);
  font-weight: bold;
}

select {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 8px;

    
    background: linear-gradient(to bottom, #ffffff, #e6e6e6);
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.8),
                0 2px 5px rgba(0,0,0,0.15);

    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
}


select:hover {
    background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

select:focus {
    border-color: #4A90E2;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.8),
                0 0 6px rgba(74,144,226,0.6);
}


select option {
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
}
