* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f0f3f8;
}
.hero {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 448px;
  background-color: #ffffff;
  width: 448px;
  height: 553px;
  border-radius: 10px;
  /* margin-top:178px; */
  margin-left: auto;
  margin-right: auto;
  padding: 31px 17px 31px 17px;
  line-height: 45px;
  /* box-shadow: 0 0 1px rgb(228, 226, 226); */
  margin-bottom: 50px;
}
.login {
  color: rgb(172, 172, 172);
}
.icon {
  display: flex;
  gap: 8px;
  text-align: center;
  color: rgb(122, 122, 122);
  margin-top: 50px;
  margin-left: 90px;
  margin-bottom: 55px;
}
.icon-arrow {
  font-size: 20px;
  color: rgb(122, 122, 122);
}
.icon-text {
  font-size: 18px;
  font-weight: bold;
}
select {
  /* background-color: aliceblue; */
  width: 380px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(137, 136, 136);
  background-color: rgb(244, 246, 249);
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

select:hover {
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

select:focus {
  border-color: #4a90e2;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(74, 144, 226, 0.6);
}

select option {
  padding: 10px;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.star {
  text-align: center;
}
#email {
  width: 380px;
  padding: 10px;
  border: 1px solid black;
  color: rgb(137, 136, 136);
  border-radius: 10px;
  background-color: #fafafa;
}

.text {
  margin-left: 180px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(25, 115, 219);
  font-size: 15px;
}

#password {
  width: 380px;
  padding: 10px;
  border: 1px solid black;
  color: rgb(137, 136, 136);
  border-radius: 10px;
  background-color: #fafafa;
  
}
.salt {
  font-weight: bold;
  display: flex;
  /* justify-content: space-between; */
  margin-left: 18px;
}
.word {
  margin-left: 18px;
}

#btn {
  min-width: 100%;
  /* display: block; */
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 1px solid #e1e7ef;
  background: #2e80fa;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /* text-align: center; */
  margin-top: 30px;
}

.count {
  text-align: center;
}
.up {
  text-decoration: none;
  color: rgb(25, 115, 219);
  font-weight: bold;
  font-size: 14px;
}

.count {
  font-weight: bold;
  font-size: 14px;
  color: #65758b;
}
