* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f0f3f8;
  height: 750px;
}
/* .med{
    gap:43px;
    line-height: 43px;
} */
.role {
  font-style: bold;
  font-weight: 700px;
  font-size: 36px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-top: 80px;
}
.icon {
  display: flex;
  gap: 8px;
  /* text-align: center; */
  color: rgb(122, 122, 122);
  margin-top: 20px;
  margin-left: 41.5px;
}
.icon-arrow {
  font-size: 20px;
  color: rgb(122, 122, 122);
}
.icon-text {
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(122, 122, 122);
}

.connect {
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  color: #65758b;
  text-align: center;
  margin-top: 20px;
}
.film {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  height: 403px;
  justify-content: space-between;
  margin-top: 50px;
}
.asset {
  width: 450px;
  height: 403px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 4px 4px 0px #00000033;
  text-align: center;
}
img {
  width: 89px;
  height: 85;
  border-radius: 20px;
  margin-top: 75px;
  background-color: #eaf2fe;
}
.assign {
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #000000;
  margin-top: 30px;
}
.sign {
  font-style: normal;
  font-weight: 400px;
  line-height: 100%;
  font-size: 16px;
  letter-spacing: 1%;
  text-indent: 21px;
  margin-top: 18px;
  color: #000000;
}
.btn {
  width: 257px;
  height: 44px;
  border-radius: 10px;
  background-color: #2e80fa;
  border: 1px solid #2e80fa;
  margin-top: 20px;
}
.pull {
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.log{
     font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  color: #65758B;
 margin-top: 50px;
 text-align: center;
 
}
.in{
     font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 20px;
  color: #2E80FA;
  text-decoration: none;
}
