* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f0f3f8;
  /* height: 750px; */
}
/* .med{
    gap:43px;
    line-height: 43px;
} */
.role {
  font-style: bold;
  font-weight: 700px;
  font-size: 36px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-top: 80px;
}
.icon {
  display: flex;
  gap: 8px;
  /* text-align: center; */
  color: rgb(122, 122, 122);
  margin-top: 20px;
  margin-left: 41.5px;
}
.icon-arrow {
  font-size: 20px;
  color: rgb(122, 122, 122);
}
.icon-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgb(122, 122, 122);
}

.connect {
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  color: #65758b;
  text-align: center;
  margin-top: 20px;
}
.film {
  display: flex;
  width: 900px;
  margin: 0 auto;
  height: 290px;
  justify-content: space-between;
  margin-top: 30px;
  gap: 80px;
}
.asset {
  width: 450px;
  height: 320px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 4px 4px 0px #00000033;
  text-align: center;
}
img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #eaf2fe;
}
.assign {
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #000000;
  margin-top: 30px;
}
.sign {
  font-style: normal;
  font-weight: 400px;
  line-height: 100%;
  font-size: 16px;
  letter-spacing: 1%;
  text-indent: 21px;
  margin-top: 18px;
  color: #000000;
}
.btn {
  width: 257px;
  height: 44px;
  border-radius: 10px;
  background-color: #2e80fa;
  border: 1px solid #2e80fa;
  margin-top: 20px;
  cursor: pointer;
}
.pull {
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.log {
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  color: #65758b;
  margin-top: 50px;
  text-align: center;
}
.in {
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 20px;
  color: #2e80fa;
  text-decoration: none;
}

/* Mobile responsive adjustments */
@media (max-width: 1024px) {
  .film {
    width: 90%;
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
    margin-top: 30px;
  }

  .asset {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  img {
    width: 70px;
    height: 70px;
    margin-top: 50px;
  }

  .role {
    font-size: 28px;
    line-height: 32px;
    margin-top: 40px;
  }

  .connect {
    font-size: 14px;
    margin-top: 15px;
  }

  .assign {
    font-size: 24px;
    margin-top: 20px;
  }

  .sign {
    font-size: 14px;
    text-indent: 0;
    margin-top: 12px;
  }

  .btn {
    width: 100%;
    height: 40px;
  }

  .icon {
    margin-left: 10px;
    gap: 5px;
  }

  .icon-text {
    font-size: 14px;
  }

  .log {
    font-size: 12px;
    margin-top: 30px;
  }

  .in {
    font-size: 12px;
  }
}
